.overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    line-height: 30px;
}

.overlay.active {
    visibility: visible;
}

.popup{
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: "Open Sans";
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
    width: 700px;
    height: 97%;
    max-height: 600px;
    overflow: auto;
    overflow-y: auto;
    transition: 1 ease all;
    opacity: 0;
    display:none;
}

.pop-text{
    text-align: left;
}

.popup .btn-cerrar-cont{
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    margin-bottom: 5px;
    transition: .3 ease all;
}

.popup .btn-cerrar-popup{
    cursor: pointer;
}

.popup .liks-proyecto{
    display: flex;
    justify-content: space-between;
}

.popup .liks-proyecto{
    font-style: none;
    color: #0000;
}

.popup .liks-proyecto a{
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    background:#333;
    border-radius: 5px;
    color: #fff;
}

.popup .liks-proyecto .success{
    background:#4078c0;
}

.popup .btn-cerrar-popup:hover{
    color: #000;
}

.popup .img-container .img-popup{
    width: calc(100% - 120px);
    border-radius: 5px;
}

/* ANIMACIONES */

.popup.active {
    display: inline-block;
}

.active{
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

@media screen and (max-width: 480px){
    .popup{
        height: 90%;
        width: 80%;
        font-size: 15px;
        line-height: 30px;
        text-align: left;
    }
    .popup .img-container .img-popup{
        width: 100%;
    } 
    .popup .btn-cerrar-cont{
        min-width: 100%;
    }
    .popup .liks-proyecto{
        flex-direction: column;
    }
    .popup .liks-proyecto a{
        margin-bottom: 15px;
    }
    .popup .liks-proyecto .success{
        margin-bottom: 0px;
    }
    .popup .btn-cerrar-popup{
        font-size: 25px;
    }
    
}

